@import "admin-lte/dist/css/adminlte.css";

@import "bootstrap-icons/font/bootstrap-icons.css";

@import "overlayscrollbars/overlayscrollbars.css";

/* Custom Tooltip color */
/* 
.custom-tooltip .tooltip-inner {
    background-color: #343a40 !important; 
    color: #fff !important;             
    opacity: 0.9;                        
  }
  
  .custom-tooltip .tooltip-arrow {
    border-top-color: #343a40 !important; 
  } */
  .card {
    transition: 0.3s ease-in-out;
  }
  .card-title {
    font-size: 21px;
  }


  .collapsed-card .card-header {
    border-bottom: 0;
    border-color:inherit;
    transition: ease-in-out;
  }
  .card-footer {
    transition: 0.3s ease-in-out;
  }

  .card-header {
      transition: 0.3s ease-in-out;
  }
.hover-img {
    width: 100px; /* original size */
    height: auto; /* maintain aspect ratio */
    transition: transform 0.3s ease; /* smooth transition */
}

.hover-img:hover {
    transform: scale(1.2); /* scale up the image */
}

.info-p {
    margin: -0.3rem;
    font-size: 0.9rem;
}

.form-check-input:disabled {
    transition: 0.3s ease-in-out;
}

.img-size-120,
.img-size-64,
.img-size-50,
.img-size-32 {
    height: auto;
}

.img-size-120 {
    width: 120px;
}
.img-size-64 {
    width: 64px;
}

.img-size-50 {
    width: 50px;
}

.img-size-32 {
    width: 32px;
}

.welcome-section {
    padding: 20px;
    text-align: center;
}

.welcome-section h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.welcome-section p {
    font-size: 18px;
    margin-bottom: 20px;
}

/* Table header */
[data-bs-theme="light"] .table-mode {
    --bs-table-color: #000;
    --bs-table-bg: #f8f9fa;
    --bs-table-border-color: #c6c7c8;
    --bs-table-striped-bg: #ecedee;
    --bs-table-striped-color: #000;
    --bs-table-active-bg: #dfe0e1;
    --bs-table-active-color: #000;
    --bs-table-hover-bg: #e5e6e7;
    --bs-table-hover-color: #000;
    color: var(--bs-table-color);
    border-color: var(--bs-table-border-color);
}

/* Dark mode styles */
[data-bs-theme="dark"] .table-mode {
    --bs-table-color: #fff;
    --bs-table-bg: #272b30;
    --bs-table-border-color: #4d5154;
    --bs-table-striped-bg: #2c3034;
    --bs-table-striped-color: #fff;
    --bs-table-active-bg: #373b3e;
    --bs-table-active-color: #fff;
    --bs-table-hover-bg: #323539;
    --bs-table-hover-color: #fff;
    color: var(--bs-table-color);
    border-color: var(--bs-table-border-color);
}

.form-select {
    transition: 0.3s ease-in-out, color 0.2s ease-in-out;
}

.callout,
.callout-info {
    transition: 0.3s ease-in-out, color 0.2s ease-in-out;
}


.img-thumbnail {
    transition: 0.3s ease-in-out;
}
.table {
    transition: 0.3s ease-in-out;
}
.table-mode > * {
    transition: border-color 0.3s ease-in-out;
}

.table > :not(caption) > * > * {
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.form-control,
.input-group-text {
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out,
        border-color 0.3s ease-in-out !important;
}
.page-item:not(:first-child),
.page-link {
    transition: 0.3s ease-in-out;
}

.page-item:first-child,
.page-link {
    transition: 0.3s ease-in-out;
}

.alert,
.alert-link {
    transition: 0.3s ease-in-out;
}

/* Style readonly inputs to look disabled */
/* .form-control[readonly] {
  background-color: #e9ecef;
  opacity: 1;
  cursor: not-allowed;
} */

[data-bs-theme="light"] .form-control[disabled] {
    background-color: #e9ecef;
    opacity: 1; /* Ensures text color is not dimmed */
    cursor: not-allowed;
}

[data-bs-theme="dark"] .form-control[disabled] {
    background-color: #343a40; /* Dark gray for dark theme */
    color: #adb5bd; /* Lighter text color for contrast */
    opacity: 1; /* Ensures text color is not dimmed */
    cursor: not-allowed;
}

body {
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out,
        border-color 0.3s ease-in-out !important;
}

.table-responsive {
    scrollbar-color: var(--bs-secondary-bg) transparent;
    scrollbar-width: thin;
    transition: scrollbar-color 0.3s ease;
}

.flow {
    max-height: 550px;
    overflow-y: hidden; /* Start with hidden overflow */
    overflow-x: hidden;
    transition: overflow-y 0.3s ease; /* Smooth transition */
}

.flow:hover {
    overflow-y: auto;
    /* Start with hidden overflow */
    /* Show scrollbar on hover */
}
.table-container {
    min-width: 800px;
}
